<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Have fun! 🥔</h1>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Car Info</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- using _header.ejs for the header & turn index.html to index.ejs??????? -->
  <header id="page-header" class="page-header">
    <ul>
      <li>Home</li>
      <li>My Listings</li>
      <li>My Favourites</li>
      <li>Create a New Listing</li>
    </ul>
  </header>
  <ul>
    <li><%= title %></li>

    <div><img src="<%= thumbnail_photo_url %>" width="200"></img></div>
    <li><%= manufacturer %></li>
    <li><%= year %></li>
    <li><%= description %></li>
  </ul>
  <p>

  </p>
</body>

</html>
